.projects {
    background-color: var(--bg-color);
}

.projects .heading {
    font-size: 4.5rem;
    text-align: center;
    margin-top: 10rem;
}

.projects .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    /* align-items: center; */
    align-items: stretch;
    grid-gap: 5rem;
    font-size: 1.5rem;
    margin-top: 10rem;

    margin-bottom: 10rem;
}

.projects .container .card {
    width: 100%;
    padding: 3rem;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 20px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: 0.5s ease;
    border: 1px solid #ebebeb;
}

.projects .container .card:hover {
    transform: translateY(-10px);
}

.projects .container .card:hover>.link .title h2 {
    color: var(--main-color);
}

.projects .container .card .link {
    height: 100%;
}

.projects .container .card .link .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.projects .container .card .link .title h2 {
    text-decoration: none;
    color: var(--text-color);
    font-size: 3rem;
    margin: 0;
}

.projects .container .card .link .title i {
    font-size: 3rem;
    color: var(--main-color);
}

.projects .container .card .link .description {
    color: var(--secondary-text-color);
    margin: 0 1rem;
    text-decoration: none;
}

.projects .container .card .link img {
    width: 100%;
    padding-top: 1rem;
    aspect-ratio: 2/1;
    border-radius: 20px;
    object-fit: cover;
}

.projects .container .card.coming-soon {
    position: relative;
}

.projects .container .card.coming-soon .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.projects .container .card.coming-soon .overlay .text {
    font-size: 2rem;
    color: white;
    transform: rotate(-45deg);
    text-transform: uppercase;
    font-weight: bold;
}

.search-bar {
    text-align: center;
    margin-bottom: 2rem;
}

.search-bar h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.search-container input {
    width: 50%;
    padding: 1rem;
    font-size: 1.6rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-right: 3rem; /* Space for the clear icon */
}

.search-container #clear-icon {
    position: absolute;
    right: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    color: #ccc;
}

.search-container div {
    padding: 1rem 2rem;
    font-size: 1.6rem;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container div i {
    font-size: 1.6rem;
}

@media (max-width: 768px) {
    .projects .heading {
        font-size: 3rem;
        margin-top: 5rem;
    }

    .projects .container {
        grid-template-columns: 1fr;
        grid-gap: 3rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .projects .container .card {
        padding: 2rem;
    }

    .projects .container .card .link .title h2 {
        font-size: 2rem;
    }

    .projects .container .card .link .title i {
        font-size: 2.5rem;
    }

    .search-container input {
        width: 70%;
        font-size: 1.4rem;
    }

    .search-container button {
        padding: 0.8rem 1.5rem;
        font-size: 1.4rem;
    }
}

/* For mobile devices (up to 480px) */
@media (max-width: 480px) {
    .projects .heading {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    .projects .container {
        grid-gap: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .projects .container .card {
        padding: 1.5rem;
    }

    .projects .container .card .link .title h2 {
        font-size: 1.8rem;
    }

    .projects .container .card .link .title i {
        font-size: 2rem;
    }

    .search-container input {
        width: 90%;
        font-size: 1.2rem;
    }

    .search-container button {
        padding: 0.6rem 1rem;
        font-size: 1.2rem;
    }

    .search-container #clear-icon {
        right: 1rem;
        font-size: 1.4rem;
    }
}